# Ruta del directorio de datos locales
DATA_DIR=../data

# Ruta local de los pesos del modelo RAD-ALERT
MODELS_DIR=../../RAD-ALERT/model

# Semilla para garantizar la reproducibilidad de particiones y modelos
RANDOM_SEED=42
