# Configuración de Base de Datos
DATABASE_URL=sqlite:///./tc_diag.db

# Rutas de Modelos (Local)
TRIAGE_MODEL_PATH=../../RAD-ALERT/model
PATHOLOGY_MODEL_PATH=./outputs/saved_models/pathology_model

# Umbrales de Confianza (0.0 - 1.0)
TRIAGE_MIN_CONFIDENCE=0.5
PATHOLOGY_MIN_CONFIDENCE=0.70

# Credenciales de Twilio (WhatsApp)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
WHATSAPP_GROUP_TO=whatsapp:+57XXXXXXXXXX
